<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.sharablead.entity.Comment">
        <id column="id" property="id" />
        <result column="from_user_id" property="fromUserId" />
        <result column="to_user_id" property="toUserId" />
        <result column="parent_id" property="parentId" />
        <result column="opus_id" property="opusId" />
        <result column="content" property="content" />
        <result column="resource_url" property="resourceUrl" />
        <result column="readed" property="readed" />

        <result column="status" property="status" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, from_user_id, to_user_id, parent_id, opus_id, content, resource_url, readed, status, gmt_created, gmt_modified
    </sql>

</mapper>
